{% extends 'base.html' %}

{% load static %}

{% block content %}

    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href={% url "HomePage" %}>Kaleidoscope Glass</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="NavBarCollapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="{% url 'Login' %}">Log In</a></li>
            <li><a href="{% url 'ClientRegister' %}">Sign up</a> </li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>

    {% block packery %}

        <div class="grid col-lg-offset-1" id="masonrygrid">
            <div class="grid-sizer"></div>
            <div class="grid-item">
                <div class="thumbnail">
                    <img src="{% static "media/Bullshit.png" %}">
                    <div class="caption">
                        This is a test
                    </div>
                </div>
            </div>
            <div class="grid-item grid-item--width2">
                <div class="thumbnail">
                    <img src="{% static "media/Berries.png" %}">
                    <div class="caption">
                        Longer photo
                    </div>
                </div>
            </div>
            <div class="grid-item grid-item--width2">
                <div class="thumbnail">
                    <img src="{% static "media/FrontDoor.png" %}">
                    <div class="caption">
                        Longer photo
                    </div>
                </div>
            </div>
            <div class="grid-item grid-item--width2">
                <div class="thumbnail">
                    <img src="{% static "media/Berries.png" %}">
                    <div class="caption">
                        Longer photo
                    </div>
                </div>
            </div>

            <div class="grid-item grid-item--width2">
                <div class="thumbnail">
                    <img src="{% static "media/Berries.png" %}">
                    <div class="caption">
                        Longer photo
                    </div>
                </div>
            </div>
            <div class="grid-item grid-item--width2">
                <div class="thumbnail">
                    <img src="{% static "media/FrontDoor.png" %}">
                    <div class="caption">
                        Longer photo
                    </div>
                </div>
            </div>
            <div class="grid-item">
                <div class="thumbnail">
                    <img src="{% static "media/Bullshit.png" %}">
                    <div class="caption">
                        This is a test
                    </div>
                </div>
            </div>

        </div>


        <script>
            var $grid = $('.grid').packery({
                itemSelector: '.grid-item',
                gutter: 10,
                percentPosition: true
            });


        </script>
    {% endblock %}

{% endblock %}