{% extends 'base.html' %}

{% load static %}

<style>
    a div.caption{text-decoration: none;}
</style>

{% block content %}

    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href={% url "HomePage" %}>Kaleidoscope Glass</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="NavBarCollapse">
            <ul class="nav navbar-nav navbar-left">
                <li><a class="btn" id="DoorButton">Doors</a></li>
                <li><a class="btn" id="TransomButton">Transoms</a></li>
                <li><a class="btn" id="CabinetButton">Cabinets</a></li>
                <li><a class="btn" id="MiscellaneousButton">Miscellaneous</a></li>
                <li><a class="btn" id="ContactButton">Contact</a></li>
            </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="{% url 'Login' %}">Log In</a></li>
            <li><a href="{% url 'ClientRegister' %}">Sign up</a> </li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>

    {% block welcomeblock %}

        <div class="container col-lg-12">
            <div class="jumbotron col-lg-6">
                <h3>Kaleidoscope Glass</h3>
                <p>Kaleidoscope Glass is a custom stained glass studio specializing in unique one of a kind designs for clients.
                  We have been serving individuals, designers, and architechs in the Cleveland area for over 25 years.
                  We can help you realize your design inspirations.</p>
            </div>

        </div>
        <div class="container col-lg-12">
            <div class="row">
                <div class="col-lg-2">
                    <a class="thumbnail">
                        <img src="{% static 'media/annette_cell_5-2015_138.JPG' %}"/>
                        <div class="caption">
                            <h4>Beautiful Doors</h4>
                            <p>Kaleidoscope Glass creates beautiful door previews</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>

    {% endblock %}

{% endblock %}