{% extends 'base.html' %}

{% load static %}

{% block content %}

    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href={% url "HomePage" %}>Kaleidoscope Glass</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="NavBarCollapse">
            <ul class="nav navbar-nav navbar-left">
                <li><a class="btn" id="DoorButton">Doors</a></li>
                <li><a class="btn" id="TransomButton">Transoms</a></li>
                <li><a class="btn" id="CabinetButton">Cabinets</a></li>
                <li><a class="btn" id="MiscellaneousButton">Miscellaneous</a></li>
            </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="{% url 'Login' %}">Log In</a></li>
            <li><a href="{% url 'ClientRegister' %}">Sign up</a> </li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>

    {% block packery %}

        <div class="grid col-lg-offset-1"  id="isotopegrid">
            {% for listing in listings %}
                {% if listing.category == 1 %}
                    <div class="grid-item door">
                        <div class="thumbnail">
                            <img src="/Kaleidoscope/static/media/{{ listing.image}}">
                            <div class="caption">
                                {{ listing.description }}
                            </div>
                        </div>
                    </div>
                {% elif listing.category == 2 %}
                    <div class="grid-item transom">
                        <div class="thumbnail">
                            <img src="/Kaleidoscope/static/media/{{ listing.image}}">
                            <div class="caption">
                                {{ listing.description }}
                            </div>
                        </div>
                    </div>
                {% elif listing.category == 3 %}
                    <div class="grid-item cabinet" style="display: none">
                        <div class="thumbnail">
                            <img src="/Kaleidoscope/static/media/{{ listing.image}}">
                            <div class="caption">
                                {{ listing.description }}
                            </div>
                        </div>
                    </div>
                {% else %}
                    <div class="grid-item miscellaneous" style="display: none">
                        <div class="thumbnail">
                            <img src="/Kaleidoscope/static/media/{{ listing.image}}">
                            <div class="caption">
                                {{ listing.description }}
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>



        <script>
            var grid = $('.grid').isotope({
                itemSelector: '.grid-item',
                percentPosition: true
            });


            $('#TransomButton').click(function ShowTransoms(e) {
                $('.grid').isotope({filter: '.transom'});
            });

             $('#DoorButton').click(function ShowDoors(e) {
                $('.grid').isotope({filter: '.door'});
             });

              $('#CabinetButton').click(function ShowCabinets(e) {
                $('.grid').isotope({filter: '.cabinet'});

              });

             $('#MiscellaneousButton').click(function ShowMiscellaneous(e) {
                $('.grid').isotope({filter: '.miscellaneous'});
             });


        </script>
    {% endblock %}

{% endblock %}