<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Kaleidoscope Glass</title>
</head>

<style>
    .grid-sizer,
    .grid-item { width: 10%;}
    /* 2 columns */
    .grid-item--width2 { width: 20%; }

    .grid-item {
        float: left;
        border: 2px solid #333;
        border-color: hsla(0, 0%, 0%, 0.5);
        border-radius: 5px;
    }

</style>

{% extends "base.html" %}

{% load static %}

{% block content %}

{% block navbar %}
<nav class="navbar navbar-default">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href={% url "Loggedin" %}>Kaleidoscope Glass</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="NavBarCollapse">
          <ul class="nav navbar-nav navbar-right">
              <li class="dropdown" id="NotificationDropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" role="button" href="#"><i class="fa fa-bell "><span class="badge" id="NotificationBadge"></span></i></a>
                <ul class="dropdown-menu" id="NotificationList">

                </ul>
              </li>
                <li class="dropdown" id="ProfileDropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ user.username }}<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href={% url 'ClientUpdate' %}>Update Profile</a></li>
                        <li><a href="{% url 'Inbox' %}">Inbox</a></li>
                        <li><a href="{% url 'Logout' %}">Log Out</a></li>
                    </ul>
                </li>


          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>


{% endblock %}

{% block packery %}

        <div class="grid col-lg-offset-1" id="masonrygrid">
            <div class="grid-sizer"></div>
            <div class="grid-item">
                <div class="thumbnail">
                    <img src="{% static "media/Bullshit.png" %}">
                    <div class="caption">
                        This is a test
                    </div>
                </div>
            </div>
            <div class="grid-item grid-item--width2">
                <div class="thumbnail">
                    <img src="{% static "media/Berries.png" %}">
                    <div class="caption">
                        Longer photo
                    </div>
                </div>
            </div>
            <div class="grid-item grid-item--width2">
                <div class="thumbnail">
                    <img src="{% static "media/FrontDoor.png" %}">
                    <div class="caption">
                        Longer photo
                    </div>
                </div>
            </div>
            <div class="grid-item grid-item--width2">
                <div class="thumbnail">
                    <img src="{% static "media/Berries.png" %}">
                    <div class="caption">
                        Longer photo
                    </div>
                </div>
            </div>

            <div class="grid-item grid-item--width2">
                <div class="thumbnail">
                    <img src="{% static "media/Berries.png" %}">
                    <div class="caption">
                        Longer photo
                    </div>
                </div>
            </div>
            <div class="grid-item grid-item--width2">
                <div class="thumbnail">
                    <img src="{% static "media/FrontDoor.png" %}">
                    <div class="caption">
                        Longer photo
                    </div>
                </div>
            </div>
            <div class="grid-item">
                <div class="thumbnail">
                    <img src="{% static "media/Bullshit.png" %}">
                    <div class="caption">
                        This is a test
                    </div>
                </div>
            </div>

        </div>


    <script>
        var $grid = $('.grid').packery({
            itemSelector: '.grid-item',
            gutter: 10,
            percentPosition: true
        });


    </script>
{% endblock %}


{% endblock %}


</html>