<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Log in</title>
</head>
<body>

{% extends "base.html" %}

{% block content %}
    <div class="container-fluid">
            <div class="jumbotron col-lg-6 col-lg-offset-3">

                <form class="col-lg-6 col-lg-offset-3" method="post">

                    {% csrf_token %}
                    {% for field in form %}
                        {% if field.errors %}
                            <span class="help-block">{{ field.errors }}</span>
                            <div class="input-group has-error">
                                <span class="input-group-addon">{{ field.label }}</span>
                                {{ field }}
                            </div>
                        {% else %}
                            <div class="input-group">
                                <span class="input-group-addon">{{ field.label }}</span>
                                {{ field }}
                            </div>
                        {% endif %}
                        <br>
                    {% endfor %}

                    <a href="{% url "HomePage" %}" class="btn btn-danger">Cancel</a>
                    <button type="submit" class="btn btn-primary ">Submit</button>
                </form>

            </div>
    ​    </div>
{% endblock %}
</body>
</html>