<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create New Listing</title>
</head>

{% extends "accounts/admin/loggedin.html" %}

{% block content %}
    {% block navbar %}
        {{ block.super }}
    {% endblock %}

    <div class="container-fluid col-lg-6 col-lg-offset-3">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {% for field in form %}
                {% if field.errors %}
                    <div class="form-group has-error">
                        <label>{{ field.label }}</label>
                        <span class="help-block">{{ field.errors }}</span>
                        {{ field }}
                    </div>
                {% else %}
                    <div class="form-group">
                        <label>{{ field.label }}</label>
                        {{ field }}
                    </div>
                {% endif %}
            {% endfor %}
            <a href="{% url "Dashboard" %}" class="btn btn-danger">Cancel</a>
            <button type="submit" class="btn btn-primary">Post</button>

        </form>
    </div>
{% endblock %}

</html>