<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Delete Listing</title>
</head>
{% extends 'base.html' %}

{% block content %}

    {% block navbar %}
        {{ block.super }}
    {% endblock %}

    <div class="container-fluid">
        <div class="jumbotron col-lg-8 col-lg-offset-2">
            <form action="" method="post">
                {% csrf_token %}
                <h3>Delete Listing</h3>
                <p>Are you sure that you would like to delete this listing?</p>
                <a href="{% url "DoorsView" %}" class="btn btn-primary" type="submit">Cancel</a>
                <button class="btn btn-danger" type="submit">Delete</button>
            </form>
        </div>
    </div>
{% endblock %}
</html>