
{% load staticfiles  %}
{% load notifications_tags %}

<script src={% static 'home/jquery-3.1.1.min.js' %}></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

<!--   imagesLoaded --->
<script src="https://npmcdn.com/imagesloaded@4.1/imagesloaded.pkgd.min.js"></script>

<!--- Packery CDN ----->
<!--<script src="https://unpkg.com/packery@2/dist/packery.pkgd.min.js"></script>-->
<script src="{% static "home/packery-mode.pkgd.min.js" %}"></script>

<!---- Isotope CDN ---->
<script src="https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.js"></script>

<!---- Masonry CDN ---->
<script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>

<script src={% static "home/moment.js" %}></script>
<link href="{% static "home/bootstrap-datetimepicker-standalone.css" %}" rel="stylesheet">
<link href="{% static "home/bootstrap-datetimepicker.min.css" %}" rel="stylesheet">
<script src="{% static "home/bootstrap-datetimepicker.min.js" %}"></script>


<link rel="stylesheet" type="text/css" href={% static "home/fullcalendar.min.css" %}>
<script src={% static "home/fullcalendar.min.js" %}></script>


<html>
    <head>
        {% block head %}

        {% endblock %}
    </head>

<body>
{% block content %}

    {% block navbar %}
        <nav class="navbar navbar-default">
          <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href={% url "Loggedin" %}>Kaleidoscope Glass</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="NavBarCollapse">
                <ul class="nav navbar-nav navbar-left" id="NavBarLeft">
                    {% if user.is_staff %}
                        <li><a class="btn" id="DashboardButton" href="{% url "Dashboard" %}">Dashboard</a> </li>
                    {% else %}
                        <li><a class="btn" id="DoorButton">Doors</a></li>
                        <li><a class="btn" id="TransomButton">Transoms</a></li>
                        <li><a class="btn" id="CabinetButton">Cabinets</a></li>
                        <li><a class="btn" id="MiscellaneousButton">Miscellaneous</a></li>
                        <li><a class="btn" id="ContactButton" href="">Contact</a> </li>
                    {% endif %}
                </ul>
              <ul class="nav navbar-nav navbar-right" id="NavBarRight">
                  <li class="dropdown" id="NotificationDropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" role="button" href="#"><i class="fa fa-bell "><span class="badge" id="NotificationBadge">{% notifications_unread %}</span></i></a>
                    {% live_notify_list classes="dropdown-menu" %}
                  </li>
                    <li class="dropdown" id="ProfileDropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ user.username }}<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href={% url 'ClientUpdate' %}>Update Profile</a></li>
                            <li><a href="{% url 'Inbox' %}">Inbox</a></li>
                            <li><a href="{% url 'Logout' %}">Log Out</a></li>
                        </ul>
                    </li>


              </ul>
            </div><!-- /.navbar-collapse -->
          </div><!-- /.container-fluid -->
        </nav>




    {% endblock %}

    {% block frontpageblock %}
        <div class="row">
            <div class="container col-lg-6">
                <div class="jumbotron">
                    <h3>Kaleidoscope Glass</h3>
                    <p>Kaleidoscope Glass is a custom stained glass studio specializing in unique one of a kind designs for clients.
                        We have been serving individuals, designers, and architechs in the Cleveland area for over 25 years.
                        We can help you realize your design inspirations.</p>
                </div>
            </div>
            <div class="container col-lg-4 col-lg-offset-1">
                <a class="thumbnail">
                    <div class="caption">
                        <h4>Shop Online Now!</h4>
                        <p>Kaleidoscope glass allows you to order online, or schedule an appointment!</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="col-lg-4">
                    <a class="thumbnail">
                        <img src="{% static 'media/annette_cell_5-2015_138.JPG' %}"/>
                            <div class="caption">
                                <h4>Beautiful Doors</h4>
                                <p>Kaleidoscope Glass creates beautiful door previews</p>
                            </div>
                        </a>
                </div>
                <div class="col-lg-4">
                    <a class="thumbnail">
                        <img src={% static 'media/annette_cell_5-2015_138.JPG' %}/>
                        <div class="caption">
                            <h4>Stylish Cabinets</h4>
                            <p>Kaleidoscope glass creates beautiful cabinet previews</p>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4">
                    <a class="thumbnail">
                        <img src={% static 'media/annette_cell_5-2015_138.JPG' %}/>
                        <div class="caption">
                            <h4>Stylish Transoms</h4>
                            <p>Kaleidoscope glass creates beautiful Transoms previews</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">

                </div>
            </div>
        </div>

        <script>

            var carouselinnter = $(".carousel-inner");
            carouselinnter.append("<div class='test'>" +
                                    "" +
                                  "</div>")
        </script>
    {% endblock %}

{% endblock %}
</body>


</html>