<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
</head>

<style>
    .badge:after{
        position: absolute;
        background: rgba(0,0,255,1);
        height:2rem;
        top:1rem;
        right:1.5rem;
        width:2rem;
        text-align: center;
        line-height: 2rem;;
        font-size: 1rem;
        border-radius: 50%;
        color:white;
        border:1px solid blue;
    }
</style>


{% extends "base.html" %}
{% load static %}

{% block content %}
    {% block navbar %}
        {{ block.super }}
    {% endblock %}


    <div class="container-fluid col-lg-4">
        <div class="jumbotron">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">Kaleidoscope Glass</h3>
              </div>
              <div class="panel-body">
                Kaleidoscope Glass is a custom stained glass studio specializing in unique one of a kind designs for clients.
                  We have been serving individuals, designers, and architechs in the Cleveland area for over 25 years.
                  We can help you realize your design inspirations.
              </div>
            </div>

        </div>
    </div>


{% endblock %}
</html>